<h1>Bienvenue sur ta page profil <%= @user.user_name %></h1>

<h3>Voici l'avatar actuel : </h3>
<%if @user.avatar.attached?%>
  <%= image_tag @user.avatar, alt: 'avatar' %>
<%else%>
  <p>=== Il n'y a pas encore d'avatar lié à cet utilisateur ===</p>
<%end%>

<p>
  Ton profil a etait crée le <%= @user.created_at %><br/>
  Ton profil porte l'id #<%= @user.id %><br/>
  Tu viens de la ville <%= @user.city %><br/>
  Tu t'appelle : <%= @user.first_name %><br/>
  Ton nom c'est : <%= @user.last_name %><br/>
  Ton email est le <%= @user.email %><br/>
</p>
<br/>
<p> Pour avoir l'a possibilité de modifier tes infos c'est plutot par la :
    <%= link_to "Editer mon profil", edit_user_registration_path, class:"btn btn-primary" %>
</p>

<h3>Changer d'avatar ?</h3>
<%= form_tag profile_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "mettre à jour" %>
<% end %>
