<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <br/>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "First name" %>
  </div>

  <br/>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "Last name" %>
  </div>

  <br/>

  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", placeholder: "Username" %>
  </div>

  <br/>

  <div class="field">
    <%= f.label :gamertag %><br />
    <%= f.text_field :gamertag, autofocus: true, autocomplete: "gamertag", placeholder: "Gamertag" %>
  </div>

  <br/>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autofocus: true, autocomplete: "city", placeholder: "City" %>
  </div>

  <br/>

  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_field :bio, autofocus: true, autocomplete: "bio", placeholder: "Bio" %>
  </div>

  <br/>

  <div class="field">
    <%= f.label :date_of_birth %><br/>
    <%= f.date_field :birth_date, autofocus: true, placeholder: "Birthdate" %>
  </div>

  <br/>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <br/>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Nouveau Mot de Passe" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> caractère minimum</em>
    <% end %>
  </div>

  <br/>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmer le mdp" %>
  </div>

  <br/>

  <div class="field">
    <%= f.label :current_password %> <i>(Pour modifier les champs nous avons besoin du mot de passe)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Mot de passe actuelle" %>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit "Mettre a jour"%>
  </div>
<% end %>

<br/>

<h3>Supprimer mon compte</h3>

<p>Décu ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Es tu sur ?" }, method: :delete %></p>

<%= link_to "Retour", :back, class: "btn btn-primary"%>
