<center>  
</br>
<div class="card mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @event.event_name %> </h5>
    <h5 class="card-text"><%= @event.description %></h5>
    <h5 class="card-text">Game : <%= @event.game_played %></h5>
    <h5 class="card-text">Location : <%= @event.city %></h5>
     <h5 class="card-text">Max Participant : </br> <%= @event.max_participant %></h5>
    <h5 class="card-text">Time : <%= @event.event_date %></h5>
    <h5 class="card-text">Event created by : </br>    <%= @event.creator.first_name %> <%= @event.creator.last_name %> </h5>
    <h5 class="card-text">Reach him at : </br> <%= @event.creator.email %></h5>

    </div>
    </div>