<center>  
</br>
<div class="card mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @event.event_name %> </h5>
    <h5 class="card-text"><%= @event.description %></h5>
    <h5 class="card-text">Game : <%= @event.game_played %></h5>
    <h5 class="card-text">Location : <%= @event.city %></h5>
     <h5 class="card-text">Max Participant : </br> <%= @event.max_participant %></h5>
    <h5 class="card-text">Time : <%= @event.event_time %></h5>
    <h5 class="card-text">Event created by : </br>    <%= @event.creator.first_name %> <%= @event.creator.last_name %> </h5>
    <h5 class="card-text">Reach him at : </br> <%= @event.creator.email %></h5>

    </div>
    </div>


		<hr class="my-4">
			<p> Il y a <%= @participants.count %> participants a cet evenement. L'evenement se deroulera a <%= @event.city %>. </p>

			<% if current_user.id == @event.creator.id %>
				<a class="btn btn-secondary btn-lg" href="<%= edit_event_path(@event.id) %>" role="button">Modifier l'evenement</a>
	   			<a class="btn btn-danger btn-lg" href="<%= event_path(@event.id) %>" role="button" data-confirm="Attention la suppression est irreversible" data-method="DELETE">Supprimer l'event</a>
			<%else%>
					<%= form_for :attendance, url: event_attendances_path(@event) do |f| %>
			        	<button class="btn btn-success btn-lg">  Participer </button>
			        <%end%> 
					<a class="btn btn-danger btn-lg"  href="<%= event_attendance_path(@event) %>" role="button" data-method="DELETE"> Ne plus participer</a>
				<%end%>
				</br></br></br>